ins.diffmod, ins.diffins, del.diffmod, del.diffdel {
    text-decoration: none;
    border-width: 4px;
    border-style: dashed;
    padding: 1px;
    display: inline-block;
}
ins.diffmod, ins.diffins {
    border-color: #29bd67;
}
del.diffmod, del.diffdel {
    text-decoration: line-through;
    border-color: #fa2525;
}
.diff-blink {
    -webkit-animation: diff-blink 0.6s both;
    animation: diff-blink 0.6s both;
}
@-webkit-keyframes diff-blink {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: .5;}
}
@keyframes diff-blink {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: .5;}
}
